<div class="landing-page-container">
    <%# <img src="https://images.immediate.co.uk/production/volatile/sites/23/2022/07/GettyImages-1168201315-7eb8110.jpg" alt="Octopus" class="landing-page-image"> %>
    <div class="landing-page-text">
        <h1>Dive with a buddy.</h1>
        <h2>Find your octopus today!</h2>
        <br>
        <%= link_to "Browse", squids_path, class:"btn btn-flat" %>
    </div>
</div>
