<div class="landing-page-container">
    <%# <img src="https://www.premuda-diving.com/pic/premuda_diving_007.jpg" alt="Octopus" class="landing-page-image"> %>
    <div class="landing-page-text">
        <h1>Dive with an octopus.</h1>
        <h2>Find your octoπ today!</h2>
        <br>
        <%= link_to "Browse", squids_path, class:"btn btn-flat" %>
    </div>
</div>
