// Specific CSS for your home-page

body {
    position: relative;
}

.landing-page-container {
  display: flex;
  text-align: center;
  overflow: hidden;
  background-color: #c7bcd38a;
  background-blend-mode: overlay;
  background-image: url("http://prod-upp-image-read.ft.com/4543ced6-0868-11e7-97d1-5e720a26771b");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: calc(100vh - 55px);
}

.landing-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  h1 {
    font-size: 45px;
    color: white;
    text-shadow: 1px -1px 5px #010101;
  }

  h2 {
    color: white;
    text-shadow: 1px -1px 5px #010101;
  }


  .btn-flat {
      width: fit-content;
      padding: 10px 100px;
  }
}
