// Specific CSS for your home-page
.landing-page-container {
    display: flex;
    height: 100vh;
    text-align: center;
}

.landing-page-image {
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

.landing-page-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;

    .btn-flat {
        width: fit-content;
        padding: 10px 100px;
    }
}

body {
    background-color: #FDF4D5;
  }
