.show-page-container {
  display: flex;
  border-radius: 5px;
  padding: 40px;
  background-color: #e6d3f8a8;
  background-blend-mode: overlay;
}

.show-page-image {
  border-radius: 5px;
  height: 550px;
  width: 50%;
  object-fit: cover;
  // margin-bottom: 55px;
}

.show-page-text {
  display: flex;
  padding: 40px;
  width: 50%;
  flex-direction: column;
  justify-content: center;

  .btn-flat {
    width: fit-content;
    padding: 12px 50px;
  }

.booking-container {
}
}
