.show-page-container {
  display: flex;
  border-radius: 5px;
}

.show-page-image {
  width: 50%;
  height: 80vh; // maybe change this later
  object-fit: cover;
  border-radius: 5px;
}

.show-page-text {
  display: flex;
  padding: 40px;
  width: 80%;
  flex-direction: column;
  justify-content: left;
  margin: auto;

  .btn-flat {
    width: fit-content;
  }
}
