 <%#= simple_form_for(booking, html: { class: "text-start" }) do |f| %>
  <%#= f.button :submit, class: 'btn btn-flat', style: 'font-weight: bold; margin-right: 10px', value: 'Accept' %>
  <%#= f.button :submit, class: 'btn btn-flat', style: 'font-weight: bold; margin-right: 10px', value: 'Reject' %>
<%# end %>

<div class="d-flex">
<%= button_to "Accept", booking_path(booking), method: :patch, class: 'btn btn-flat-small', name: "booking[status]", value: "Accepted"%>
<%= button_to "Reject", booking_path(booking), method: :patch, class: 'btn btn-flat-small', name: "booking[status]", value: "Rejected"%>
</div>
