<div class="container">
  <div class="purple-section">
  <h1>The bookings I will attend</h1>
  <% if @bookings.empty? %>
    <p>You don't seem to have any bookings</p>
  <% else %>
    <% @bookings.each do |booking| %>
      <p>Squid: <%= booking.squid.name %></p>
      <p>Date: <%= booking.rent_date %></p>
      <p>Status: <%= booking.status %></p>
    <% end %>
  <% end %>
  </div>

  <%# Add if statment so below is only rendered id the user has squids %>
  <% unless @my_octopuses.empty? %>
    <%= render "shared/octopus_bookings" %>
  <% end %>
</div>
