.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 20px;
}

.card {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card .card-info {
  padding: 10px;
}

.card .card-info h2 {
  margin-top: 0;
}

.card .card-info p {
  margin-bottom: 10px;
}

.card .card-info .card-price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 7px;
}

.card .card-info-container {
  display: flex;
  justify-content: space-between;
}
