.navbar-lewagon {
  justify-content: space-between;
  padding: 0px !important;
  background-color: $light-purple;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-octopus-deploy {
  color: $dark-purple;
}

.logo-text {
  color: $dark-purple;
  font-weight: bolder;
}